@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --font-sans: var(--next-sans);
  --font-mono: var(--next-mono);
  --text-base: 1rem;
  --animate-accordion-down: accordion-down 0.15s;
  --animate-accordion-up: accordion-up 0.15s;
  --animate-caret-blink: caret-blink 1s ease-out infinite;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-overlay: var(--overlay);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius: var(--radius);
  --radius-lg: calc(var(--radius) + 2px);
  --radius-xl: calc(var(--radius) + 4px);

  @keyframes accordion-down {
    from {
      height: 0;
      opacity: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
      opacity: 1;
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
      opacity: 0;
    }
  }
  @keyframes caret-blink {
    0%,
    70%,
    100% {
      opacity: 1;
    }
    20%,
    50% {
      opacity: 0;
    }
  }
}

:root {
  --background: hsl(223.8136 0.0005% 96.8%);
  --foreground: hsl(0 0% 10%);
  --card: hsl(223.8136 -172.5242% 100%);
  --card-foreground: hsl(0 0% 10%);
  --popover: hsl(223.8136 0.0005% 98.6829%);
  --popover-foreground: hsl(0 0% 10%);
  --primary: hsl(302, 80%, 72%);
  --primary-foreground: hsl(223.8136 -172.5242% 100%);
  --secondary: hsl(223.8136 0.0001% 92.1478%);
  --secondary-foreground: hsl(0 0% 10%);
  --muted: hsl(223.8136 0.0002% 90.0587%);
  --muted-foreground: hsl(223.8136 0% 40.3067%);
  --accent: hsl(223.8136 0.0001% 92.1478%);
  --accent-foreground: hsl(0 0% 10%);
  --destructive: hsl(358.4334 74.912% 70.7455%);
  --destructive-foreground: hsl(0 0% 10%);
  --border: hsl(223.8136 0.0001% 89.5577%);
  --input: hsl(223.8136 0.0001% 92.1478%);
  --ring: hsl(0 0% 0%);
  --radius: 0.5rem;
  --overlay: hsl(0 0% 0% / 0.5);

  --expanded: 32rem;
  --sidebar: 5.5rem;
}

.dark-mode {
  --background: hsl(0 0% 0%);
  --foreground: hsl(223.8136 -172.5242% 98%);
  --card: hsl(223.8136 0% 3.5452%);
  --card-foreground: hsl(223.8136 -172.5242% 100%);
  --popover: hsl(223.8136 0% 6.8692%);
  --popover-foreground: hsl(223.8136 -172.5242% 100%);
  --primary: hsl(302, 80%, 72%);
  --primary-foreground: hsl(223.8136 -172.5242% 100%);
  --secondary: hsl(223.8136 0% 13.1499%);
  --secondary-foreground: hsl(223.8136 -172.5242% 100%);
  --muted: hsl(223.8136 0% 11.304%);
  --muted-foreground: hsl(223.8136 0% 64.471%);
  --accent: hsl(223.8136 0% 19.8916%);
  --accent-foreground: hsl(223.8136 -172.5242% 100%);
  --destructive: hsl(359.9132 100.2494% 67.8807%);
  --destructive-foreground: hsl(0 0% 98%);
  --border: hsl(223.8136 0% 14.0871%);
  --input: hsl(223.8136 0% 19.8916%);
  --ring: hsl(223.8136 0% 64.471%);
}

@layer base {
  * {
    @apply border-border outline-ring/50 font-sans min-h-0 min-w-0;
    transition-timing-function: cubic-bezier(0.76, 0, 0.24, 1);
  }
  body {
    @apply bg-background text-foreground;
  }
}

@utility glow-* {
  box-shadow: 0 0 28px -3px oklch(from --value(--color-*) l c h / 0.3);
}
